.App {
  text-align: center;
  background-color: #10101C;
  color: white;
  min-height: 400px;
  padding-bottom: 100px;
  /* border: purple 2px solid */
  /* clear: both; */
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

a{
  text-decoration: none;
  
}

a:link {
  color: grey;

}


a:visited {
  color: grey;

}


a:hover {
  color: grey;

}


a:active {
  color: grey;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  

}
#HomeIcon{
  float:left;
}

.navbar{
background-color: #161624;
text-align: right;

}

.wholeStockPage{
  /* border: solid 1px yellow; */
  color: #D6D7E3;
}
.stockInfo{
  /* border: solid 1px green */
}
.comments {
  /* border: solid 1px red */
}
.existing-comments {
  /* border: solid 1px purple; */
  /* width: 70%;
  height: 25%; */
}
.new-comments {
  /* border: solid 1px black; */
  /* width: 70%;
  height: 25%; */
}
.chartdiv{
  margin: auto;
  width: 50%;
  height: 25%;
}
.stocktweets{
  /* border: solid 1px yellowgreen; */
}
.stockFlexComponents{
  display: inline-flex;
  align-items: center;


}
li{
  display: inline-block;
  margin: 1%;
  font-size: large;
}

.footer{
  width: 100%;
  text-align: right;
  position: fixed;
  bottom: 0;
  background-color: #161624;
}


.socialmediaicons{
  display: inline-block;
  width: 32px;
  height: 32px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
