.App {
  text-align: center;
  background-color: #10101C;
  color: white;
  min-height: 400px;
  padding-bottom: 100px;
  /* border: purple 2px solid */
  /* clear: both; */
}
.home{
  min-height: 400px;
  padding-bottom: 200px;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
a{
  text-decoration: none;
  
}
.questionmark{
  width: 36px;
  height: 36px;
}
.prediction{
  padding-bottom: 5px;
}
/* .likedislikebtn{

} 

.gored{
  
    color: red;
     
} */

a:link {
  color: grey;
}
a:visited {
  color: grey;
}
a:hover {
  color: grey;
}
a:active {
  color: grey;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0; 
}
#HomeIcon{
  float:left;
}
.navbar{
background-color: #161624;
text-align: right;
}
.wholeStockPage{
  /* border: solid 1px yellow; */
  color: #D6D7E3;
  background-color: #10101C;
}
.stockInfo{
  background-color: #10101C;
  padding-bottom: 100px;
}
/* .comments {
  border: solid 1px red
} */
.textcomment {
  padding-bottom: 2px;
}
.existing-comments table {
  border-radius: 15px;
  padding: 10px;
  align-items: top;
}
.existing-comments button{
  color: #5887FF;
  background-color: #5887FF10;
  border: none;
  border-radius: 15px;
  padding: 8px;
}
.user{
  display: flex;
  align-items: center;
  vertical-align: center;
  text-align: center;
}
.existing-comments img{
  border-radius: 20px;
  width: 15%;
  padding: 3px;
}
.comment_input {
  color: #D6D7E3;
  background-color: #3C3C52;
  border-radius: 10px;
}
.new-comments button{
  color: #5887FF;
  background-color: #5887FF10;
  border: none;
  border-radius: 10px;
  border-radius: 15px;
  padding: 8px;
}
.chartdiv{
  margin: auto;
  width: 50%;
  height: 25%;
  padding: 10px;
  background-color: #222235;
}
/* .stocktweets{
  border: solid 1px yellowgreen;
} */
.stockFlexComponents{
  display: flex;
  justify-content: space-evenly;
  /* padding: 5px; */
  /* column-gap: 5px; */
  /* border: solid 1px yellowgreen; */
}
.stockCommentComponent{
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: solid 1px pink; */
  padding: 10px;
}
.stockCommentComponent table {
  background: #222235; 
  border: 0; 
  /* border-collapse: separate;  */
  border-spacing: 0 5px;
  padding: 15px;
  vertical-align: top;
  height: 50px;
}
td {
  border-top: 1px solid #3C3C52; 
  vertical-align: center;
  height: 50px;
  /* border-collapse: separate; 
  border-spacing: 5px; */
} 
/* .stockCommentComponent table, th, td{
  background-color: #222235;
  padding: 10px;
} */


.stockTwitterComponent{
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: top;
  text-align: center;
  /* border: solid 1px lightblue; */
}
li{
  display: inline-block;
  margin: 1%;
  font-size: large;
}
.footer{
  width: 100%;
  text-align: right;
  position: fixed;
  bottom: 0;
  background-color: #161624;
}
.socialmediaicons{
  display: inline-block;
  width: 32px;
  height: 32px;
}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
.home-heading {
  color: #D6D7E3;
}
.home-content p {
  align-items: center;
  color:#5887FF;
  margin: auto;
  margin-top: 10px;
  width: 70%
  /* border: solid 1px yellowgreen; */
}
.home-content img {
  align-items: center;
  height: 45%;
  width: 45%;
  margin: auto;
  margin-bottom: 20px;
}
.login-page {
  background-color: #F0F2FA;
  align-content: center;
  padding-top: 150px;
  color: #171717;
  min-height: 400px;
  padding-bottom: 300px;
}
.App-link {
  color: #61dafb;
}
.privacypolicy{
  width: 80%;
  margin: auto;
  color:#D6D7E3
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
